@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --paragraphs: hsla(0, 0%, 100%, 0.75);
  --background-headings-buttons: hsl(0, 0%, 95%);
  --heading-font: 'Big Shoulders Display', cursive;
  --main-font: 'Lexend Deca', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-headings-buttons);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 33rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.card {
  font-size: 1.5rem;
  line-height: 2;
  padding: 5rem 4.5rem;
}

.card img {
  padding-bottom: 4rem;
}

.card h3 {
  font-family: var(--heading-font);
  font-size: 4rem;
  color: var(--background-headings-buttons);
  padding-bottom: 4.5rem;
  text-transform: uppercase;
}

.card p {
  font-family: var(--main-font);
  margin-bottom: 3rem;
}

.card-Sedans {
  background-color: var(--Bright-orange);
  color: hsl(42, 100%, 73%);
}

.card-SUVs {
  background-color: var(--Dark-cyan);
  color: hsl(184, 67%, 45%);
}

.card-Luxury {
  background-color: var(--Very-dark-cyan);
  color: hsl(170, 76%, 41%);
}

.btn {
  background-color: var(--background-headings-buttons);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-family: var(--main-font);
  border: 2px solid transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.card-Sedans .btn {
  color: var(--Bright-orange);
}

.card-SUVs .btn {
  color: var(--Dark-cyan);
}

.card-Luxury .btn {
  color: var(--Very-dark-cyan);
}

.btn:hover {
  background-color: transparent;
  color: var(--background-headings-buttons);
  border: 2px solid var(--background-headings-buttons);
}

.attribution {
  font-size: 1.5rem;
}

@media (min-width: 1440px) {
  .main {
    height: 100vh;
  }
  .container {
    width: 92rem;
  }
}
